<!DOCTYPE html>
<html>
<head>
    <title>Pingu Bath</title>
    <link rel="icon" href="/images/favicon.ico">
</head>
<body style="display:flex; justify-content:center; align-items:center; height:100vh; margin:0; background:#e9b1d1;">

    <img 
        src="/images/pingu-pinga.gif" 
        alt="Pingu Bath"
        style="max-width:80%; height:auto;"
    >

</body>
</html>