<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help Page</title>
    <link rel="stylesheet" href="/css/style.css" /> 
    <link rel="icon" href="/images/favicon.ico" />
</head>
<body>
    <header>
    <h1>About Blink</h1>
    <nav class="navbar">
      <a href="/">🏠 Home</a> |
      <a href="/book">Log Screen Time</a> |
      <a href="/help">Help</a>
    </nav>
  </header>

    <h1>Help Us Page</h1>
    <p>Use the links at the top to access different sections:</p> 
  <ul>
        <li style="display: inline-block; padding: 10px 20px; background-color: #f0f0f0; border-radius: 5px; margin-bottom: 10px;">
            <strong>About:</strong> Learn more about our services.
        </li><br>
        <li style="display: inline-block; padding: 10px 20px; background-color: #f0f0f0; border-radius: 5px;">
            <strong>Help:</strong> Access this help page for guidance.
        </li>
    </ul>
       
    <p>If you have any issues on our website, contact us.</p>

    <!-- Contact Details Section -->
   <section id="contact-details">
        <h2>Contact Details</h2>
        <p><strong>Name:</strong> Jillane</p>
        <p><strong>Email:</strong> <a href="mailto:totallylegitemail@jillane.com">totallylegitemail@jillane.com</a></p>
        <p><strong>Phone:</strong> <a href="tel:+353894429732">+353 89 442 9732</a></p>
        <p><strong>Organization:</strong> Blink</p>
        <p><strong>Address:</strong> <a href="https://www.google.com/maps/search/?api=1&query=51.784083,-8.297778" target="_blank">
    Bramble Cottage Ballinsluska, Myrtleville, Co. Cork</a></p>
    </section>
    <footer>
        <p>&copy; 2025 Blink</p>
    </footer>
</body>
</html>