<!DOCTYPE html>
<html>
<head>
    <title>Mascot</title>
    <link rel="icon" href="/images/favicon.ico">
</head>
<body style="display:flex; justify-content:center; align-items:center; height:100vh; margin:0; background:#e9b1d1;">

    <img 
        src="/images/bear.gif" 
        alt="Bear Mascot"
        style="max-width:80%; height:auto;"
    >

</body>
</html>
